# Jangan ikutkan file model ke build
*.pt

# Folder training dan data berat
train*/
test/
valid/

# Sampah sistem / cache
__pycache__/
*.log
.idea/
*.vscode/

# Dokumentasi & konfigurasi lain yang tidak perlu
README*.txt
config.yaml

# ✅ Pastikan requirements.txt tetap disertakan!
!requirements.txt
